<div class="main">
    <div class="body">
        <div class="heading"> Sign In</div>
        <div class="input">
            <div class="text"> Signin and start managing your stocks portfolio</div>
            <input type="text" class="inputSelect" placeholder="Login" [(ngModel)]="user">
            <input type="text" class="inputSelect" placeholder="Password" [(ngModel)]="password">
        </div>
        <div class="submit" (click)="login()">
            Submit
        </div>
    </div>
</div>