<div class="main">
    <div class="section">
        <div class="header">
            <div class="welcome">
                <div><img src="assets/say_hello_icon.png" alt="" style="width: 76px;"></div>
                <!-- <div> <app-json-animator path="assets/Hand_Wiggle.json">
                </app-json-animator></div> -->
                <div class="welcome_text">{{'Welcome to FavFolio'}}</div>
            </div>
            
            <div class="help_info">{{'"Assisting Investors and Traders in Optimizing Their Stock Portfolios through Automation, Enhanced Visibility, and Improved Operational Efficiency.'}}</div>
        </div>
        <div class="menu_actions">
            <div>
                <div class="quick_actions">{{'Quick Actions'}}</div>
                <div class="cards">
                    <div class="item hover_effect_dashboard" routerLink="/overview">
                        <div class="card_header">
                            <div class="navigate">
                                <div> <img src="assets/Dashboard_icon.svg" alt="" class="side_icon"> </div>
                                <div class="card_title"> {{'Dashboard'}} </div>
                            </div>
                            <div><img src="assets/Arrow_icon.svg" alt=""></div>
                        </div>
                        <div class="content">{{'DashboardInfo'}}</div>
                    </div>
                    <div class="item hover_effect_orders" routerLink="/dashboard">
                        <div class="card_header">
                            <div class="navigate">
                                <div> <img src="assets/orders_icon.svg" alt="" class="side_icon"> </div>
                                <div class="card_title"> {{'Orders'}} </div>
                            </div>
                            <div><img src="assets/Arrow_icon.svg" alt=""></div>
                        </div>
                        <div class="content">{{'OrdersInfo'}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="whats_new">
            <div class="whats_new_sec">
            <div class="whats_new_header">
                <div class="whatnew_title">{{'WhatsNew'}}</div>
            </div>
              <div class="content">
                <ol type="1" class="updates_sec">
                    <!-- <li class="update_status">Coming Soon</li> -->
                    <div class="update_status">{{'ComingSoon'}}</div>
                </ol>  
              </div>
              
            </div>
          </div>
    </div>
</div>
